<!-- templates/upload.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Smelling - Upload</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Upload Your Code Files</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Allow multiple files to be selected -->
        <input type="file" name="code_files" accept=".py" multiple required />
        <button type="submit">Upload</button>
      </form>
    </div>
  </body>
</html>
